*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Playfair Display", serif;
    /* outline:0.1px solid white; */
}
.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 15px 80px;
    position: fixed;
    color: white;
}
.navList{
    display: flex;
    gap: 40px;
    list-style: none;
}
.navBtn{
    display: flex;
    gap: 10px;
}
.navBtn button{
    padding: 10px 30px;
    border: none;
    border-radius: 30px;
    border: none;
}
.signIn{
    background-color: transparent;
    color: white;
}
.signIn:hover{
    background-color:#f6c173;
    color: black;
}
.signUp{
    background-color:#f6c173;
}
.signUp:hover{
    background-color: transparent;
    color: white;
    border: solid 1px white;
}
.logo p{
    font-family: "Clicker Script", cursive;
    font-size: 22px;
}
.sec1{
    width: 100%;
    height: 99vh;
    background-image:linear-gradient(90deg, #1e1e1e, #00000000), url(./media/coffee_image.png);
    background-repeat: no-repeat;
    background-size:cover;
    color: white;
    padding: 100px 80px 80px 80px;
    display: flex;
    gap: 60px;
    justify-content: space-between;
    align-items: center;
}

.coffeeDiv{
    width: 50%;
}
.coffeeDiv h1{
    font-family: "Clicker Script", cursive;
    font-size: 250px;
    font-weight: 400;
}
.coffeeDiv h5{
    font-size: 22px;
}
.coffeeDiv p{
    font-size: 20px;
    text-align: justify;
    width: 90%;
}
.coffeeDiv button{
    padding: 10px 30px;
    border: none;
    border-radius: 30px;
    border: none;
    color: black;
    font-weight: 600;
    margin: 20px 0;
}
.sec1border{
    height: 2vh;
    width: 100%;
    background-image:linear-gradient(90deg, black, white);
}